* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b7a78;
    color: white;
}

header .logo img {
    height: 60px;
    margin: 20px;
}

header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header ul li {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header ul li i {
    margin: 10px;
    font-size: 24px;
}

header ul li input {
    border: none;
    padding: 5px;
    
}

.navigation {
    display: none;
    flex-direction: row;
    background-color: #def2f1;
    position: relative;
}

.navigation .nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.show-nav {
    display: flex;
}

.nav-sub {
    border-bottom: 5px solid #2b7a78;
    position: relative;
    flex-grow: 1;
    text-align: left;
}

.short {

    color: #17252a;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.long{
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: #feffff;
    color: #17252a;
    z-index: 1000;
    display: none;
    top: 100%;
}

.nav-sub.show .long {
    display: block;
}

.long ul {
    list-style: none;
    padding: 0;
}

.long ul li {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    margin: 0;
}

.long ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #17252a;
    display: block;
}

.long ul li a:hover {
    font-weight: bold;
}

.short h4 {
    font-size: 20px;
}

.nav-sub.show .short img {
    transform: rotate(180deg);
}

.short img{
    width: 20px;
    height: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #def2f1;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0;
    padding: 15px;
    color: #17252a;
    font-size: 18px;
}

.card p {
    padding: 15px;
    color: #223942;
    font-size: 14px;
    line-height: 1.6;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link:hover h3,
.card-link:focus h3,
.card-link:hover p,
.card-link:focus p {
    text-decoration: underline;
}

footer {
    background-color: #2b7a78;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
}

footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-links li {
    margin: 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #def2f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    max-height: 600px;
    overflow: auto;
}

.contact-card ul {
    list-style-type: none;
}

.contact-card li {
    margin-bottom: 10px;
}

.contact-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-card input::placeholder {
    color: #17252a;
}

.contact-card textarea::placeholder {
    color: #17252a;
}

.contact-card button {
    align-self: flex-end;
    background-color: #2b7a78;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-card textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-card button:hover {
    background-color: #17252a;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    header, nav, .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navigation .nav-container, .nav-sub{
        flex-direction: column;
    }
    .nav-sub .short, .nav-sub .long {
        width: 100%;
    }
    .nav-sub .short {
        padding-right: 16px;
    }
    header ul li input {
        display: none;
    }

    header ul li:nth-child(2) {
        display: none;
    }
}